/*
Eloading - 1.02 [10.06.14]
first Author: vadimsva
Github: https://github.com/vadimsva/Eloading
user and recode:bugLuo 6185763@qq.com
*/
@import "../../../css/function";

//base wrap
$animateWidth:20px;
$animateHeight:20px;
$animateSpeed:1.4s;

body.Eloading-container {
	position:fixed;
	width:100%;
	height:100%
}
.Eloading-container{
	.Eloading{
		z-index:$zindexLoading;
		width:100%;
		height: 100%;
		@include display-flex;
		*{
			font-family:sans-serif;
			font-size:14px;
			font-weight:initial;
			font-style:initial;
			color:initial;
			text-decoration:initial;
			text-transform:initial;
			padding:initial;
			margin:initial;
		}
		.Eloading-content{
			margin:auto;
		}
		.Eloading-progress{
			position:relative;
			margin:auto;
			div{
				@include animation-fill-mode(both);
			}
		}
		.Eloading-text{
			text-align: center;
			position:relative;
			margin:20px 0 0;
		}
	}
}

/* bounce */
@import "../../../css/ext/animate/bounce";
@include animate-bounce;
$bounceInterval:-0.16s;
.Eloading-progress.bounce{
	width:$animateWidth;
	div{
		width:$animateWidth;
		height:$animateHeight;
		@include border-radius(50%);
		@include animation(bounce $animateSpeed infinite ease-in-out);
	}
	.Eloading-progress_elem1 {
		@include animation-delay($bounceInterval*2);
	}
	.Eloading-progress_elem2 {
		@include animation-delay($bounceInterval);
	}
}

/* rotateplane */
@import "../../../css/ext/animate/rotate";
@include animate-rotatePlane;
.Eloading-progress.rotateplane{
	width:$animateWidth;
	div{
		width:$animateWidth;
		height:$animateHeight;
		@include animation(rotatePlane $animateSpeed infinite ease-in-out);
	}
}

/* stretch */
@import "../../../css/ext/animate/stretch";
@include animate-stretch;
$stretchInterval:-1.1s;
.Eloading-progress.stretch{
	width:$animateWidth*3;
	div{
		width:$animateWidth/3;
		height:$animateHeight*3;
		margin:1px;
		@include inline-block;
		@include animation(stretch $animateSpeed infinite ease-in-out);
	}
	.Eloading-progress_elem2{
		@include animation-delay($stretchInterval);
	}
	.Eloading-progress_elem3{
		@include animation-delay($stretchInterval+0.1);
	}
	.Eloading-progress_elem4{
		@include animation-delay($stretchInterval+0.2);
	}
	.Eloading-progress_elem5{
		@include animation-delay($stretchInterval+0.3);
	}
}

// orbit
@import "../../../css/ext/animate/bounce";
@include animate-rotate;
@import "../../../css/ext/animate/rotate";
@include animate-rotatePlane;
.Eloading-progress.orbit{
	width:$animateWidth*2;
	height:$animateHeight*2;
	@include animation(rotate $animateSpeed infinite ease-in-out);
	div{
		width:$animateWidth;
		height:$animateHeight;
		@include border-radius(50%);
		@include animation(bounce $animateSpeed infinite ease-in-out);
	}
	.Eloading-progress_elem2{
		@include animation-delay(-$animateSpeed/2);
	}
}
