/*
Eloading - 1.02 [10.06.14]
first Author: vadimsva
Github: https://github.com/vadimsva/Eloading
user and recode:bugLuo 6185763@qq.com
*/
@import "../../../css/function";
@import "../../../css/ext/animate/bounce";
//base bounce
@include animate-bounce;

$animateWidth:20px;
$animateHeight:20px;
$animateSpeed:-0.16s;
body.Eloading-container {
	position:fixed;
	width:100%;
	height:100%
}
.Eloading-container{
	.Eloading{
		z-index:$zindexLoading;
		width:100%;
		height: 100%;
		@include display-flex;
		*{
			font-family:sans-serif;
			font-size:14px;
			font-weight:initial;
			font-style:initial;
			color:initial;
			text-decoration:initial;
			text-transform:initial;
			padding:initial;
			margin:initial;
		}
		.Eloading-content{
			margin:auto;
		}
		.Eloading-progress{
			position:relative;
			margin:auto;
			width:$animateWidth;
			div{
				@include animation-fill-mode(both);
			}
		}
		.Eloading-text{
			text-align: center;
			position:relative;
			margin:20px 0 0;
		}
	}

}

/* bounce */
.Eloading-container{
	.Eloading-progress.bounce{
		div{
			width:$animateWidth;
			height:$animateHeight;
			@include border-radius(50%);
			@include animation(bounce 1.4s infinite ease-in-out);
		}
		.Eloading-progress_elem1 {
			@include animation-delay($animateSpeed*2);
		}
		.Eloading-progress_elem2 {
			@include animation-delay($animateSpeed);
		}
	}
}